@import 'tailwindcss';

@theme {
    --color-primary: #009dd6;
    --color-secondary: #04547c;
    --color-text: #ebe9fc;
    --color-background: #010104;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
}

* {
    font-family: 'Manrope', sans-serif;
}